<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Hi, {{name}}</p>
  <p>It looks like there was a request to generate a new password for your account.</p>
  <p>If it was you who did, then click in the link below to choose a new password:</p>
  <p>
    <a href="{{link}}">Reset my password</a>
  </p>
  <p>If wasn't, then please discard this email!</p>
  <p>Thank you!<br />GoBarber Team</p>
</div>
